# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# Database files
*.sqlite
*.sqlite3

# Debug files
*.pid
*.pid.lock

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Optional npm cache directory
.npm

# Coverage directory
coverage/

# Local configuration files
*.local
